<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/computer.css">
		<title>Russian Text Analyser</title>
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	</head>
	
	

	<!-- Preloader -->
	<div id="preloader">
		  <div id="status">&nbsp;</div>
	</div>

	
	<!-- Editable Div -->
	<div id="editable_div" " contenteditable="true">
		<span style="font-size: 1.5em;">Добро пожаловать в Russian Grammar Analyser!</span><br><br><br><br><span style="font-size: 1.2em;">
		To use: <br><br><br> 1. Simply type or paste some Russian text here and click </span><span style="font-weight: 800; font-size: 1.4em;">
		'ANALYSE'</span><span style="font-size: 1.2em;"><br><br><br>2. Click on a word to retrieve a translation and a grammatical analysis</span>
		<br><br><br><br><br><br><br><br><span style="font-size: 2em; font-weight: 800px; position:relative; left: 34%; cursor: pointer;" onclick="begin()">
		Click to begin!</span>
	</div>
	
	<!-- Analyse Button -->
	<div id="button" class="analyse_button">   Analyse</div>
	
	<!-- Screen -->
	<div id="terminal">
		
		<h2 id="searchterm" class="terminal">собака</h2>
		<h3 id="wordtype" class="terminal"><span id="word_type">noun.</span></h3><span id="whatcase" class="terminal">nominative singular of (default)</span><span class="terminal" id="thiscase">собака</span>
		
		<!-- Loading Animation -->
		<div id="loading">
			<img id="gif" src="/static/cat.gif" />
			<h6>загрузка... </h6>
		</div>
		
		<!-- Translation -->
		<h4 class="terminal" id="definition">Translation: Dog</h4>
		<!-- Alternative Translation -->
		<h6 class="terminal" id="alt_translations">Alternative Translations: <span id="alt_translations_span">traffic, eggs, movement</h6>
		
		
		<!-- DECLENSION TABLE -->
		
		<h5 class="terminal" id="declension">Declension:</h5>
		<table id="declension_table">
			<tr class="declension_table_singular">
				<td id="nominative_singular_heading"><b>nominative</b></td>
				<td><b>accusative</b></td>
				<td><b>dative</b></td>
				<td><b>genitive</b></td>
				<td><b>instrumental</b></td>
				<td><b>prepositional</b></td>
			</tr>
			
			<tr >
				<td id="nominative_singular">nominative</td>
				<td id="accusative_singular">accusative</td>
				<td id="dative_singular">dative</td>
				<td id="genitive_singular">genitive</td>
				<td id="instrumental_singular">instrumental</td>
				<td id="prepositional_singular">prepositional</td>
			</tr>
			
			<tr class="declension_table_plural">
				<td><b>nom plr.</b></td>
				<td><b>accusative plr.</b></td>
				<td><b>dative plr.</b></td>
				<td><b>genitive plr.</b></td>
				<td><b>instrumental plr.</b></td>
				<td><b>prepositional plr.</b></td>
			</tr>
			
			<tr>
				<td id="nominative_plural">nominative</td>
				<td id="accusative_plural">accusative</td>
				<td id="dative_plural">dative</td>
				<td id="genitive_plural">genitive</td>
				<td id="instrumental_plural">instrumental</td>
				<td id="prepositional_plural">prepositional</td>
			</tr>
		</table>
		
		
		<!-- CONJUGATION TABLE -->
		<h5 class="terminal" id="conjugation">Conjugation Pattern:</h5>
		<table id="conjugation_table">
			
			<tr class="conjugation_table_present">
				<td colspan="3"><b>Present</b></td>
			</tr>
			
			<tr>
				<td id="first_person_present">я атаку́ю</td>
				<td id="second_person_present">ты атаку́ешь</td>
				<td id="third_person_plural_present">они атаку́ет</td>
			</tr>
		
			<tr class="conjugation_table_past">
				<td colspan="3"><b>Past</b></td>
			</tr>
			
			<tr >
				<td id="past" colspan="3">я атаку́ю</td>
			</tr>
			
		</table>

	</div>
	
	
	
	<!-- SCRIPTS -->
	
	<script>
	
	
	$.ajaxSetup({
      "error":function() {
		
		<!-- Temporarily deactivated for debugging -->

		<!--document.getElementById('searchterm').style.opacity = '1';
		<!--document.getElementById('searchterm').innerHTML = "ERROR:"
		<!--document.getElementById('wordtype').innerHTML = "unable to retrieve query";
		<!--document.getElementById('thiscase').innerHTML = "";
		<!--document.getElementById('whatcase').innerHTML = "";
		<!--document.getElementById('definition').innerHTML = "";
		<!--document.getElementById('declension').innerHTML = "";
	  <!--document.getElementById('gif').style.opacity = '0';
	  <!--$( ".terminal" ).css( "opacity", "1" );
	  


	  }
	});
	
	
		<!-- Preloader Functions -->
		jQuery(window).load(function() {
				jQuery("#preloader").delay(800).fadeOut(650, "swing");
				
				})
		
		
		function begin(){
			document.getElementById('button').style.opacity = '1';
			document.getElementById('editable_div').innerHTML = '';
			setTimeout(function(){
				document.getElementById('button').style.transition= '0s';}
			,1000);
			
		}
		
	
	<!-- Event Listener: If user pastes text, remove formatting -->
	document.querySelector("div[contenteditable]").addEventListener("paste", 
	function(e) {e.preventDefault();
    var text = e.clipboardData.getData("text/plain");
    document.execCommand("insertHTML", false, text);
	});
	
	
	
	
	<!-- Convert Text into seperate hyperlinks -->
	var count = 1;
	
	$("#button" ).click(function() {

		if (count % 2 != 0){		
		var x = document.getElementById('editable_div').innerHTML;
		var res = x.replace(/ /g, "</a> <a class='word' onclick='getTrans(this.innerHTML)'>");
		res = res.replace (/^/,'<a class="word" onclick="getTrans(this.innerHTML)">');
		document.getElementById('editable_div').innerHTML = res;
		$('#button').removeClass('analyse_button').addClass('clear_button');
		document.getElementById('button').innerHTML = 'Clear text';
		count++
		}
		
		else{
			$('#button').removeClass('clear_button').addClass('analyse_button');
			document.getElementById('button').innerHTML = 'Analyse';
			$("#editable_div").empty();
			count++
		}
	}); 
		
		
	<!-- Translation Function-->
	function getTrans(thing){
		$( "#conjugation_table" ).css( "display", "none");
		$( "#conjugation" ).css( "display", "none");
		$( "#declension_table" ).css( "display", "none");
		$( "#declension" ).css( "display", "none");
		$( ".terminal" ).css( "opacity", "0" );
		$( "#loading" ).css( "display", "block" );
		$( "#gif" ).css( "opacity", "1" );
        $.getJSON('/_add_numbers', {
          a: thing,
        }, function(data) {
		
		
		<!-- Publish Data -->
		if (data.result[0].word_type == "noun.") {
				

			
			$( "#loading" ).css( "display", "none");
			$( ".terminal" ).css( "opacity", "1" );
			$( "#declension_table" ).css( "display", "table");
			var punctuationless = thing.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"");
			var finalString = punctuationless.replace(/\s{2,}/g," ")
			document.getElementById('searchterm').innerHTML = finalString;
			
			
			$("#definition").text("Translation: " + data.result[0].definition);
			$("#alt_translations_span").text(data.result[0].alt_translations);
			$("#word_type").text(data.result[0].word_type);
			
			$("#nominative_singular").text(data.result[0].nominative_singular);
			$("#accusative_singular").text(data.result[0].accusative_singular);
			$("#dative_singular").text(data.result[0].dative_singular);
			$("#genitive_singular").text(data.result[0].genitive_singular);
			$("#instrumental_singular").text(data.result[0].instrumental_singular);
			$("#prepositional_singular").text(data.result[0].prepositional_singular);
			
			$("#nominative_plural").text(data.result[0].nominative_plural);
			$("#accusative_plural").text(data.result[0].accusative_plural);
			$("#dative_plural").text(data.result[0].dative_plural);
			$("#genitive_plural").text(data.result[0].genitive_plural);
			$("#instrumental_plural").text(data.result[0].instrumental_plural);
			$("#prepositional_plural").text(data.result[0].prepositional_plural);
			
			<!--document.getElementById('definition').innerHTML = data.result[0];
		  
			$("#thiscase").text(data.result[0].nominative_singular);
			
			<!--alert(document.getElementById('searchterm').innerHTML);
			<!--alert(document.getElementById('genitive_singular').innerHTML);
			
			<!-- IF NOUN
			
			
			if (document.getElementById('searchterm').innerHTML == document.getElementById('nominative_singular').innerHTML){
				$("#whatcase").text("nominative singular of");
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('accusative_singular').innerHTML){
				$("#whatcase").text("accusative singular of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('dative_singular').innerHTML){
				$("#whatcase").text("dative singular of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('genitive_singular').innerHTML){
				$("#whatcase").text("genitive singular of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('instrumental_singular').innerHTML){
				$("#whatcase").text("instrumental singular of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('prepositional_singular').innerHTML){
				$("#whatcase").text("prepositional singular of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('accusative_plural').innerHTML){
				$("#whatcase").text("accusative plural of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('dative_plural').innerHTML){
				$("#whatcase").text("dative plural of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('genitive_plural').innerHTML){
				$("#whatcase").text("genitive plural of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('instrumental_plural').innerHTML){
				$("#whatcase").text("instrumental plural of");
			
			}else if (document.getElementById('searchterm').innerHTML == document.getElementById('prepositional_plural').innerHTML){
				$("#whatcase").text("prepositional plural of");
			}else{
				$("#whatcase").text("couldn't find case");
			}
			
			}
			
			
			
			<!-- IF VERB
			
			else if (data.result[0].word_type == "verb.") {
			
		
			$( "#loading" ).css( "display", "none");
			$( ".terminal" ).css( "opacity", "1" );
		
			$( "#conjugation_table" ).css( "display", "table");
			$( "#conjugation" ).css( "display", "block");
			var punctuationless = thing.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"");
			var finalString = punctuationless.replace(/\s{2,}/g," ")
			document.getElementById('searchterm').innerHTML = finalString;
			
			
			$("#definition").text("Translation: To " + data.result[0].definition);
			$("#alt_translations_span").text(data.result[0].alt_translations);
			$("#word_type").text(data.result[0].word_type);
	
			$("#third_person_plural_present").text("они " + data.result[0].prepositional_plural);
			$("#past").text("оно " + data.result[0].accusative_singular);
			$("#second_person_present").text("ты " + data.result[0].genitive_plural.replace("и)",""));
			
			<!--document.getElementById('definition').innerHTML = data.result[0];
		  
			$("#thiscase").text(data.result[0].nominative_singular);
			
			<!--alert(document.getElementById('searchterm').innerHTML);
			<!--alert(document.getElementById('genitive_singular').innerHTML);
			
	
			if (document.getElementById('searchterm').innerHTML == document.getElementById('nominative_singular').innerHTML){
				$("#whatcase").text("infinitive form of");
	
			}else{
				$("#whatcase").text("conjugated form of");
			}
			
			}
			

        })
		
		.error(function() { 
			$( "#loading" ).css( "display", "none");
			$( ".terminal" ).css( "opacity", "1" );
			
		});
	
     }
		

	</script>
	</body>
</html>